In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1!*@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

# **숙제 - 1**

**채널별 월 매출액 테이블 만들기 (adhoc 스키마 밑에 CTAS로 본인 영문 이름을 포함해서 테이블 만들기)**
1.   session_timestamp, user_session_channel, channel, session_transaction 테이블들을 사용

2.   아래와 같은 필드로 구성
    - month
    - channel
    - uniqueUsers (총방문 사용자)
    - paidUsers (구매 사용자: refund한 경우도 판매로 고려)
    - conversionRate (구매사용자 / 총방문 사용자)
    - grossRevenue (refund 포함)
    - netRevenue (refund 제외)

## 복잡한 JOIN시 먼저 JOIN 전략부터 수립
* 테이블 3개를 모두 sessionid를 기반으로 조인해야 됨
* user_session_channel과 session_timestamp는 일대일로 조인가능 : INNER JOIN
* 하지만 session_transaction의 경우 모든 sessionid가 존재하지 않음
  * LEFT JOIN
  * FROM에 사용하는 테이블은 user_session_channel 혹은 session_timestamp가 되어야함

In [ ]:
%%sql

--혹시 기존에 생성되어 있으면 삭제
DROP TABLE IF EXISTS adhoc.doyoung_summary;

--Summary Table 생성
CREATE TABLE adhoc.doyoung_summary
AS
  SELECT 
    LEFT(ts, 7) "month",
    channel, 
    COUNT(DISTINCT U.userid) uniqueUsers,
    COUNT(CASE WHEN amount > 0 THEN U.userid END) paidUsers,
    ROUND(paidUsers*100.0 / NULLIF(uniqueUsers, 0),2) conversionRate,
    SUM(amount) grossRevenue,
    SUM(CASE WHEN refunded is False THEN amount END) netRevenue

  FROM raw_data.user_session_channel U
    LEFT JOIN raw_data.session_timestamp T ON U.sessionid = T.sessionid
    LEFT JOIN raw_data.session_transaction trans ON U.sessionid = trans.sessionid
  GROUP BY 1, 2

--정상적으로 생성되었는지 확인
SELECT * FROM adhoc.doyoung_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-05', 'Organic', 238, 18, Decimal('7.56'), 1846, 1571),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-08', 'Instagram', 621, 29, Decimal('4.67'), 2129, 2001),
 ('2019-08', 'Facebook', 611, 19, Decimal('3.11'), 1009, 1009)]